[submodule "axum-sqlserver-template"]
	path = axum-sqlserver-template
	url = git@github.com:tawansongsang/axum-sqlserver-template.git
	branch = main
[submodule "fe-next-template"]
	path = fe-next-template
	url = git@github.com:tawansongsang/fe-next-template.git
	branch = main
[submodule "axum-surreal-template"]
	path = axum-surreal-template
	url = git@github.com:tawansongsang/axum-surreal-template.git
	branch = main
